

<div id="profile_experience<%= profile_class.id %>" >
	<strong>Current level : <%= profile_class.level %></strong>
	<div><strong>Current experience : <%= profile_class.experience %></strong></div>
	
	<div id="progress" class="progress" >
		
		<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" 
		style="width:<%= profile_class.experience %>%"></div>
 	</div>

</div>

