<!DOCTYPE html>
<html>
<head>
  <title>PPex</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
<body>

<div class="row-fluid">
  <div class="span10 offset1">
    <div class="hero-unit text-center">
      <h1>PPex<h1>
      <p>Welcome to PPex</p>
    </div>
      <%= yield %>
  </div>
</div>


</body>
</html>
